extends layout

block content
  h1= title

  div#results
    .visaSection
      h2 Visa's not required
        ul  
          each country in data.no_visa_required
            li= country
    .visaSection
      h2 eVisa required
        ul  
          each country in data.eVisa
            li= country
    .visaSection
      h2 Visa on arrival
        ul
          each country in data.visa_on_arrival
            li= country
    .visaSection
      h2 Visa's required  
        ul
          each country in data.visa_required
            li= country
    .visaSection
      h2 Other
        ul 
          each country in data.other
            li= country
